<form method="PUT" action="/books/<%= @params %>"> <!-- should be /books/:id -->
  <h4>Put action</h4>
  <input type="text" name="book" placeholder="Change book!">
  <button type="submit">Update</button>
</form>

<form method="POST" _method="delete" action="/books/<%= @params %>"> <!-- should be /books/:id -->
  <h4>Delete action</h4>
  <button type="submit" name="delete" value="Delete">Delete</button>
</form>
